.flexslider {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background-color: #acacac;
    border-color: #acacac;
    align-items: center;
}
.slides {
    display: flex;
    text-align: center;
    align-items: center;
}